# dependencies
/node_modules
/simple_api

# build outputs
/build
/dist

# local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editor/IDE specific files
.vscode/
.idea/
*.swp
*.bak
*.swo

# macOS specific files
.DS_Store

# miscellaneous
coverage/
/restaurant/simple_api/api/index.js
/restaurant/simple_api/api/mock.js
/restaurant/simple_api/api/utils.js
/restaurant/simple_api/node_modules/.bin/mime
/restaurant/simple_api/node_modules/.bin/mime.cmd
/restaurant/simple_api/node_modules/.bin/mime.ps1
/restaurant/simple_api/node_modules/.bin/nanoid
/restaurant/simple_api/node_modules/.bin/nanoid.cmd
/restaurant/simple_api/node_modules/.bin/nanoid.ps1
/restaurant/simple_api/node_modules/accepts/HISTORY.md
/restaurant/simple_api/node_modules/accepts/index.js
/restaurant/simple_api/node_modules/accepts/LICENSE
/restaurant/simple_api/node_modules/accepts/package.json
/restaurant/simple_api/node_modules/accepts/README.md
/restaurant/simple_api/node_modules/array-flatten/array-flatten.js
/restaurant/simple_api/node_modules/array-flatten/LICENSE
/restaurant/simple_api/node_modules/array-flatten/package.json
/restaurant/simple_api/node_modules/array-flatten/README.md
/restaurant/simple_api/node_modules/body-parser/lib/types/json.js
/restaurant/simple_api/node_modules/body-parser/lib/types/raw.js
/restaurant/simple_api/node_modules/body-parser/lib/types/text.js
/restaurant/simple_api/node_modules/body-parser/lib/types/urlencoded.js
/restaurant/simple_api/node_modules/body-parser/lib/read.js
/restaurant/simple_api/node_modules/body-parser/HISTORY.md
/restaurant/simple_api/node_modules/body-parser/index.js
/restaurant/simple_api/node_modules/body-parser/LICENSE
/restaurant/simple_api/node_modules/body-parser/package.json
/restaurant/simple_api/node_modules/body-parser/README.md
/restaurant/simple_api/node_modules/bytes/History.md
/restaurant/simple_api/node_modules/bytes/index.js
/restaurant/simple_api/node_modules/bytes/LICENSE
/restaurant/simple_api/node_modules/bytes/package.json
/restaurant/simple_api/node_modules/bytes/Readme.md
/restaurant/simple_api/node_modules/content-disposition/HISTORY.md
/restaurant/simple_api/node_modules/content-disposition/index.js
/restaurant/simple_api/node_modules/content-disposition/LICENSE
/restaurant/simple_api/node_modules/content-disposition/package.json
/restaurant/simple_api/node_modules/content-disposition/README.md
/restaurant/simple_api/node_modules/content-type/HISTORY.md
/restaurant/simple_api/node_modules/content-type/index.js
/restaurant/simple_api/node_modules/content-type/LICENSE
/restaurant/simple_api/node_modules/content-type/package.json
/restaurant/simple_api/node_modules/content-type/README.md
/restaurant/simple_api/node_modules/cookie-signature/.npmignore
/restaurant/simple_api/node_modules/cookie-signature/History.md
/restaurant/simple_api/node_modules/cookie-signature/index.js
/restaurant/simple_api/node_modules/cookie-signature/package.json
/restaurant/simple_api/node_modules/cookie-signature/Readme.md
/restaurant/simple_api/node_modules/cookie/HISTORY.md
/restaurant/simple_api/node_modules/cookie/index.js
/restaurant/simple_api/node_modules/cookie/LICENSE
/restaurant/simple_api/node_modules/cookie/package.json
/restaurant/simple_api/node_modules/cookie/README.md
/restaurant/simple_api/node_modules/debug/src/browser.js
/restaurant/simple_api/node_modules/debug/src/debug.js
/restaurant/simple_api/node_modules/debug/src/index.js
/restaurant/simple_api/node_modules/debug/src/inspector-log.js
/restaurant/simple_api/node_modules/debug/src/node.js
/restaurant/simple_api/node_modules/debug/.coveralls.yml
/restaurant/simple_api/node_modules/debug/.eslintrc
/restaurant/simple_api/node_modules/debug/.npmignore
/restaurant/simple_api/node_modules/debug/.travis.yml
/restaurant/simple_api/node_modules/debug/CHANGELOG.md
/restaurant/simple_api/node_modules/debug/component.json
/restaurant/simple_api/node_modules/debug/karma.conf.js
/restaurant/simple_api/node_modules/debug/LICENSE
/restaurant/simple_api/node_modules/debug/Makefile
/restaurant/simple_api/node_modules/debug/node.js
/restaurant/simple_api/node_modules/debug/package.json
/restaurant/simple_api/node_modules/debug/README.md
/restaurant/simple_api/node_modules/depd/lib/browser/index.js
/restaurant/simple_api/node_modules/depd/lib/compat/callsite-tostring.js
/restaurant/simple_api/node_modules/depd/lib/compat/event-listener-count.js
/restaurant/simple_api/node_modules/depd/lib/compat/index.js
/restaurant/simple_api/node_modules/depd/History.md
/restaurant/simple_api/node_modules/depd/index.js
/restaurant/simple_api/node_modules/depd/LICENSE
/restaurant/simple_api/node_modules/depd/package.json
/restaurant/simple_api/node_modules/depd/Readme.md
/restaurant/simple_api/node_modules/destroy/index.js
/restaurant/simple_api/node_modules/destroy/LICENSE
/restaurant/simple_api/node_modules/destroy/package.json
/restaurant/simple_api/node_modules/destroy/README.md
/restaurant/simple_api/node_modules/ee-first/index.js
/restaurant/simple_api/node_modules/ee-first/LICENSE
/restaurant/simple_api/node_modules/ee-first/package.json
/restaurant/simple_api/node_modules/ee-first/README.md
/restaurant/simple_api/node_modules/encodeurl/HISTORY.md
/restaurant/simple_api/node_modules/encodeurl/index.js
/restaurant/simple_api/node_modules/encodeurl/LICENSE
/restaurant/simple_api/node_modules/encodeurl/package.json
/restaurant/simple_api/node_modules/encodeurl/README.md
/restaurant/simple_api/node_modules/escape-html/index.js
/restaurant/simple_api/node_modules/escape-html/LICENSE
/restaurant/simple_api/node_modules/escape-html/package.json
/restaurant/simple_api/node_modules/escape-html/Readme.md
/restaurant/simple_api/node_modules/etag/HISTORY.md
/restaurant/simple_api/node_modules/etag/index.js
/restaurant/simple_api/node_modules/etag/LICENSE
/restaurant/simple_api/node_modules/etag/package.json
/restaurant/simple_api/node_modules/etag/README.md
/restaurant/simple_api/node_modules/express/lib/middleware/init.js
/restaurant/simple_api/node_modules/express/lib/middleware/query.js
/restaurant/simple_api/node_modules/express/lib/router/index.js
/restaurant/simple_api/node_modules/express/lib/router/layer.js
/restaurant/simple_api/node_modules/express/lib/router/route.js
/restaurant/simple_api/node_modules/express/lib/application.js
/restaurant/simple_api/node_modules/express/lib/express.js
/restaurant/simple_api/node_modules/express/lib/request.js
/restaurant/simple_api/node_modules/express/lib/response.js
/restaurant/simple_api/node_modules/express/lib/utils.js
/restaurant/simple_api/node_modules/express/lib/view.js
/restaurant/simple_api/node_modules/express/History.md
/restaurant/simple_api/node_modules/express/index.js
/restaurant/simple_api/node_modules/express/LICENSE
/restaurant/simple_api/node_modules/express/package.json
/restaurant/simple_api/node_modules/express/Readme.md
/restaurant/simple_api/node_modules/finalhandler/HISTORY.md
/restaurant/simple_api/node_modules/finalhandler/index.js
/restaurant/simple_api/node_modules/finalhandler/LICENSE
/restaurant/simple_api/node_modules/finalhandler/package.json
/restaurant/simple_api/node_modules/finalhandler/README.md
/restaurant/simple_api/node_modules/forwarded/HISTORY.md
/restaurant/simple_api/node_modules/forwarded/index.js
/restaurant/simple_api/node_modules/forwarded/LICENSE
/restaurant/simple_api/node_modules/forwarded/package.json
/restaurant/simple_api/node_modules/forwarded/README.md
/restaurant/simple_api/node_modules/fresh/HISTORY.md
/restaurant/simple_api/node_modules/fresh/index.js
/restaurant/simple_api/node_modules/fresh/LICENSE
/restaurant/simple_api/node_modules/fresh/package.json
/restaurant/simple_api/node_modules/fresh/README.md
/restaurant/simple_api/node_modules/http-errors/HISTORY.md
/restaurant/simple_api/node_modules/http-errors/index.js
/restaurant/simple_api/node_modules/http-errors/LICENSE
/restaurant/simple_api/node_modules/http-errors/package.json
/restaurant/simple_api/node_modules/http-errors/README.md
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/big5-added.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/cp936.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/cp949.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/cp950.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/eucjp.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/gb18030-ranges.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/gbk-added.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/tables/shiftjis.json
/restaurant/simple_api/node_modules/iconv-lite/encodings/dbcs-codec.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/dbcs-data.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/index.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/internal.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/sbcs-codec.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/sbcs-data-generated.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/sbcs-data.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/utf16.js
/restaurant/simple_api/node_modules/iconv-lite/encodings/utf7.js
/restaurant/simple_api/node_modules/iconv-lite/lib/bom-handling.js
/restaurant/simple_api/node_modules/iconv-lite/lib/extend-node.js
/restaurant/simple_api/node_modules/iconv-lite/lib/index.d.ts
/restaurant/simple_api/node_modules/iconv-lite/lib/index.js
/restaurant/simple_api/node_modules/iconv-lite/lib/streams.js
/restaurant/simple_api/node_modules/iconv-lite/Changelog.md
/restaurant/simple_api/node_modules/iconv-lite/LICENSE
/restaurant/simple_api/node_modules/iconv-lite/package.json
/restaurant/simple_api/node_modules/iconv-lite/README.md
/restaurant/simple_api/node_modules/inherits/inherits_browser.js
/restaurant/simple_api/node_modules/inherits/inherits.js
/restaurant/simple_api/node_modules/inherits/LICENSE
/restaurant/simple_api/node_modules/inherits/package.json
/restaurant/simple_api/node_modules/inherits/README.md
/restaurant/simple_api/node_modules/ipaddr.js/lib/ipaddr.js
/restaurant/simple_api/node_modules/ipaddr.js/lib/ipaddr.js.d.ts
/restaurant/simple_api/node_modules/ipaddr.js/ipaddr.min.js
/restaurant/simple_api/node_modules/ipaddr.js/LICENSE
/restaurant/simple_api/node_modules/ipaddr.js/package.json
/restaurant/simple_api/node_modules/ipaddr.js/README.md
/restaurant/simple_api/node_modules/media-typer/HISTORY.md
/restaurant/simple_api/node_modules/media-typer/index.js
/restaurant/simple_api/node_modules/media-typer/LICENSE
/restaurant/simple_api/node_modules/media-typer/package.json
/restaurant/simple_api/node_modules/media-typer/README.md
/restaurant/simple_api/node_modules/merge-descriptors/HISTORY.md
/restaurant/simple_api/node_modules/merge-descriptors/index.js
/restaurant/simple_api/node_modules/merge-descriptors/LICENSE
/restaurant/simple_api/node_modules/merge-descriptors/package.json
/restaurant/simple_api/node_modules/merge-descriptors/README.md
/restaurant/simple_api/node_modules/methods/HISTORY.md
/restaurant/simple_api/node_modules/methods/index.js
/restaurant/simple_api/node_modules/methods/LICENSE
/restaurant/simple_api/node_modules/methods/package.json
/restaurant/simple_api/node_modules/methods/README.md
/restaurant/simple_api/node_modules/mime-db/db.json
/restaurant/simple_api/node_modules/mime-db/HISTORY.md
/restaurant/simple_api/node_modules/mime-db/index.js
/restaurant/simple_api/node_modules/mime-db/LICENSE
/restaurant/simple_api/node_modules/mime-db/package.json
/restaurant/simple_api/node_modules/mime-db/README.md
/restaurant/simple_api/node_modules/mime-types/HISTORY.md
/restaurant/simple_api/node_modules/mime-types/index.js
/restaurant/simple_api/node_modules/mime-types/LICENSE
/restaurant/simple_api/node_modules/mime-types/package.json
/restaurant/simple_api/node_modules/mime-types/README.md
/restaurant/simple_api/node_modules/mime/src/build.js
/restaurant/simple_api/node_modules/mime/src/test.js
/restaurant/simple_api/node_modules/mime/.npmignore
/restaurant/simple_api/node_modules/mime/CHANGELOG.md
/restaurant/simple_api/node_modules/mime/cli.js
/restaurant/simple_api/node_modules/mime/LICENSE
/restaurant/simple_api/node_modules/mime/mime.js
/restaurant/simple_api/node_modules/mime/package.json
/restaurant/simple_api/node_modules/mime/README.md
/restaurant/simple_api/node_modules/mime/types.json
/restaurant/simple_api/node_modules/ms/index.js
/restaurant/simple_api/node_modules/ms/license.md
/restaurant/simple_api/node_modules/ms/package.json
/restaurant/simple_api/node_modules/ms/readme.md
/restaurant/simple_api/node_modules/nanoid/async/index.browser.cjs
/restaurant/simple_api/node_modules/nanoid/async/index.browser.js
/restaurant/simple_api/node_modules/nanoid/async/index.cjs
/restaurant/simple_api/node_modules/nanoid/async/index.d.ts
/restaurant/simple_api/node_modules/nanoid/async/index.js
/restaurant/simple_api/node_modules/nanoid/async/index.native.js
/restaurant/simple_api/node_modules/nanoid/async/package.json
/restaurant/simple_api/node_modules/nanoid/bin/nanoid.cjs
/restaurant/simple_api/node_modules/nanoid/non-secure/index.cjs
/restaurant/simple_api/node_modules/nanoid/non-secure/index.d.ts
/restaurant/simple_api/node_modules/nanoid/non-secure/index.js
/restaurant/simple_api/node_modules/nanoid/non-secure/package.json
/restaurant/simple_api/node_modules/nanoid/url-alphabet/index.cjs
/restaurant/simple_api/node_modules/nanoid/url-alphabet/index.js
/restaurant/simple_api/node_modules/nanoid/url-alphabet/package.json
/restaurant/simple_api/node_modules/nanoid/index.browser.cjs
/restaurant/simple_api/node_modules/nanoid/index.browser.js
/restaurant/simple_api/node_modules/nanoid/index.cjs
/restaurant/simple_api/node_modules/nanoid/index.d.ts
/restaurant/simple_api/node_modules/nanoid/index.js
/restaurant/simple_api/node_modules/nanoid/LICENSE
/restaurant/simple_api/node_modules/nanoid/nanoid.js
/restaurant/simple_api/node_modules/nanoid/package.json
/restaurant/simple_api/node_modules/nanoid/README.md
/restaurant/simple_api/node_modules/negotiator/lib/charset.js
/restaurant/simple_api/node_modules/negotiator/lib/encoding.js
/restaurant/simple_api/node_modules/negotiator/lib/language.js
/restaurant/simple_api/node_modules/negotiator/lib/mediaType.js
/restaurant/simple_api/node_modules/negotiator/HISTORY.md
/restaurant/simple_api/node_modules/negotiator/index.js
/restaurant/simple_api/node_modules/negotiator/LICENSE
/restaurant/simple_api/node_modules/negotiator/package.json
/restaurant/simple_api/node_modules/negotiator/README.md
/restaurant/simple_api/node_modules/on-finished/HISTORY.md
/restaurant/simple_api/node_modules/on-finished/index.js
/restaurant/simple_api/node_modules/on-finished/LICENSE
/restaurant/simple_api/node_modules/on-finished/package.json
/restaurant/simple_api/node_modules/on-finished/README.md
/restaurant/simple_api/node_modules/parseurl/HISTORY.md
/restaurant/simple_api/node_modules/parseurl/index.js
/restaurant/simple_api/node_modules/parseurl/LICENSE
/restaurant/simple_api/node_modules/parseurl/package.json
/restaurant/simple_api/node_modules/parseurl/README.md
/restaurant/simple_api/node_modules/path-to-regexp/History.md
/restaurant/simple_api/node_modules/path-to-regexp/index.js
/restaurant/simple_api/node_modules/path-to-regexp/LICENSE
/restaurant/simple_api/node_modules/path-to-regexp/package.json
/restaurant/simple_api/node_modules/path-to-regexp/Readme.md
/restaurant/simple_api/node_modules/proxy-addr/HISTORY.md
/restaurant/simple_api/node_modules/proxy-addr/index.js
/restaurant/simple_api/node_modules/proxy-addr/LICENSE
/restaurant/simple_api/node_modules/proxy-addr/package.json
/restaurant/simple_api/node_modules/proxy-addr/README.md
/restaurant/simple_api/node_modules/qs/.github/FUNDING.yml
/restaurant/simple_api/node_modules/qs/dist/qs.js
/restaurant/simple_api/node_modules/qs/lib/formats.js
/restaurant/simple_api/node_modules/qs/lib/index.js
/restaurant/simple_api/node_modules/qs/lib/parse.js
/restaurant/simple_api/node_modules/qs/lib/stringify.js
/restaurant/simple_api/node_modules/qs/lib/utils.js
/restaurant/simple_api/node_modules/qs/test/parse.js
/restaurant/simple_api/node_modules/qs/test/stringify.js
/restaurant/simple_api/node_modules/qs/test/utils.js
/restaurant/simple_api/node_modules/qs/.editorconfig
/restaurant/simple_api/node_modules/qs/.eslintignore
/restaurant/simple_api/node_modules/qs/.eslintrc
/restaurant/simple_api/node_modules/qs/.nycrc
/restaurant/simple_api/node_modules/qs/CHANGELOG.md
/restaurant/simple_api/node_modules/qs/LICENSE.md
/restaurant/simple_api/node_modules/qs/package.json
/restaurant/simple_api/node_modules/qs/README.md
/restaurant/simple_api/node_modules/range-parser/HISTORY.md
/restaurant/simple_api/node_modules/range-parser/index.js
/restaurant/simple_api/node_modules/range-parser/LICENSE
/restaurant/simple_api/node_modules/range-parser/package.json
/restaurant/simple_api/node_modules/range-parser/README.md
/restaurant/simple_api/node_modules/raw-body/HISTORY.md
/restaurant/simple_api/node_modules/raw-body/index.d.ts
/restaurant/simple_api/node_modules/raw-body/index.js
/restaurant/simple_api/node_modules/raw-body/LICENSE
/restaurant/simple_api/node_modules/raw-body/package.json
/restaurant/simple_api/node_modules/raw-body/README.md
/restaurant/simple_api/node_modules/safe-buffer/index.d.ts
/restaurant/simple_api/node_modules/safe-buffer/index.js
/restaurant/simple_api/node_modules/safe-buffer/LICENSE
/restaurant/simple_api/node_modules/safe-buffer/package.json
/restaurant/simple_api/node_modules/safe-buffer/README.md
/restaurant/simple_api/node_modules/safer-buffer/dangerous.js
/restaurant/simple_api/node_modules/safer-buffer/LICENSE
/restaurant/simple_api/node_modules/safer-buffer/package.json
/restaurant/simple_api/node_modules/safer-buffer/Porting-Buffer.md
/restaurant/simple_api/node_modules/safer-buffer/Readme.md
/restaurant/simple_api/node_modules/safer-buffer/safer.js
/restaurant/simple_api/node_modules/safer-buffer/tests.js
/restaurant/simple_api/node_modules/send/node_modules/ms/index.js
/restaurant/simple_api/node_modules/send/node_modules/ms/license.md
/restaurant/simple_api/node_modules/send/node_modules/ms/package.json
/restaurant/simple_api/node_modules/send/node_modules/ms/readme.md
/restaurant/simple_api/node_modules/send/HISTORY.md
/restaurant/simple_api/node_modules/send/index.js
/restaurant/simple_api/node_modules/send/LICENSE
/restaurant/simple_api/node_modules/send/package.json
/restaurant/simple_api/node_modules/send/README.md
/restaurant/simple_api/node_modules/serve-static/HISTORY.md
/restaurant/simple_api/node_modules/serve-static/index.js
/restaurant/simple_api/node_modules/serve-static/LICENSE
/restaurant/simple_api/node_modules/serve-static/package.json
/restaurant/simple_api/node_modules/serve-static/README.md
/restaurant/simple_api/node_modules/setprototypeof/test/index.js
/restaurant/simple_api/node_modules/setprototypeof/index.d.ts
/restaurant/simple_api/node_modules/setprototypeof/index.js
/restaurant/simple_api/node_modules/setprototypeof/LICENSE
/restaurant/simple_api/node_modules/setprototypeof/package.json
/restaurant/simple_api/node_modules/setprototypeof/README.md
/restaurant/simple_api/node_modules/statuses/codes.json
/restaurant/simple_api/node_modules/statuses/HISTORY.md
/restaurant/simple_api/node_modules/statuses/index.js
/restaurant/simple_api/node_modules/statuses/LICENSE
/restaurant/simple_api/node_modules/statuses/package.json
/restaurant/simple_api/node_modules/statuses/README.md
/restaurant/simple_api/node_modules/toidentifier/HISTORY.md
/restaurant/simple_api/node_modules/toidentifier/index.js
/restaurant/simple_api/node_modules/toidentifier/LICENSE
/restaurant/simple_api/node_modules/toidentifier/package.json
/restaurant/simple_api/node_modules/toidentifier/README.md
/restaurant/simple_api/node_modules/type-is/HISTORY.md
/restaurant/simple_api/node_modules/type-is/index.js
/restaurant/simple_api/node_modules/type-is/LICENSE
/restaurant/simple_api/node_modules/type-is/package.json
/restaurant/simple_api/node_modules/type-is/README.md
/restaurant/simple_api/node_modules/unpipe/HISTORY.md
/restaurant/simple_api/node_modules/unpipe/index.js
/restaurant/simple_api/node_modules/unpipe/LICENSE
/restaurant/simple_api/node_modules/unpipe/package.json
/restaurant/simple_api/node_modules/unpipe/README.md
/restaurant/simple_api/node_modules/utils-merge/.npmignore
/restaurant/simple_api/node_modules/utils-merge/index.js
/restaurant/simple_api/node_modules/utils-merge/LICENSE
/restaurant/simple_api/node_modules/utils-merge/package.json
/restaurant/simple_api/node_modules/utils-merge/README.md
/restaurant/simple_api/node_modules/vary/HISTORY.md
/restaurant/simple_api/node_modules/vary/index.js
/restaurant/simple_api/node_modules/vary/LICENSE
/restaurant/simple_api/node_modules/vary/package.json
/restaurant/simple_api/node_modules/vary/README.md
/restaurant/simple_api/node_modules/.package-lock.json
/restaurant/simple_api/package-lock.json
/restaurant/simple_api/package.json
/restaurant/simple_api/pnpm-lock.yaml
/restaurant/simple_api/README.md
/restaurant/simple_api/server.js
/restaurant/simple_api/yarn.lock
